.party-communication-event--speech {
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fdf2c5;
  padding: 0.5em;
  margin-bottom: 0.5em;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 0.5em;
  justify-content: space-between;
}
.party-communication-event--speech p {
  margin-bottom: 0;
  grid-column: span 2;
}
.party-communication-event--speech.party-communication-speech--speaker-1 {
  background: #bbdefb;
}
.party-communication-event--speech.party-communication-speech--speaker-2 {
  background: #fbbbde;
}
.party-communication-event--speech.party-communication-speech--speaker-3 {
  background: #defbbb;
}
.party-communication-event-datetime {
  text-align: right;
  font-size: 0.6em;
  color: grey;
}
.party-communication-event-participation {
  font-size: 0.6em;
  color: grey;
}

.party-communication-speech--speaker-hat--staff, .party-communication-speech--speaker-hat--client {
  position: relative;
  overflow: hidden;
}
.party-communication-speech--speaker-hat--staff::before,
.party-communication-speech--speaker-hat--client::before {
  content: "🎧";
  position: absolute;
  right: 10px;
  bottom: -5px;
  font-size: 40px;
  opacity: 0.4;
  transform: rotate(-10deg);
  pointer-events: none;
}
.party-communication-speech--speaker-hat--client::before {
  content: "👤";
  opacity: 0.2;
}
