div.communication-status {
  font-weight: bold;
  font-size: 1.5em;
}

div.communication-status.sent {
  color: #1b9821;
}

div.communication-status.draft {
  color: #eac33d;
}

div.communication-status.failed {
  color: red;
}

div.communication-status.ready {
  color: #abdda1;
}
