.party-communication--view-mode--thread .communication-header,
.communication-thread .communication-header {
  border-bottom: 2px solid black;
  line-height: 3em;
  font-size: 1.2em;
}

.party-communication--view-mode--thread .communication-header,
.communication-thread .communication-header .date {
  float: right;
}

.communication-thread .communication-thread-collapsed .communication-body {
  display: none;
}
.communication-thread .communication-thread-expanded .communication-body {
  display: block;
}

/**
This css is experimental working with css transitions.

.communication-thread .communication-body {
  -webkit-transition: visibility 0s, opacity 2s linear, max-height 2s ease-out;
  -moz-transition: visibility 0s, opacity 2s linear, max-height 2s ease-out;
  -ms-transition: visibility 0s, opacity 2s linear, max-height 2s ease-out;
  -o-transition: visibility 0s, opacity 2s linear, max-height 2s ease-out;
  transition: visibility 0s, opacity 2s linear, max-height 2s ease-out;
}
.communication-thread .communication-thread-collapsed .communication-body {
  opacity: 0;
  visibility: hidden;
  max-height: 0px;
}
.communication-thread .communication-thread-expanded .communication-body {
  visibility: visible;
  opacity: 1;
  max-height: 100px;
}
*/
