form.party-communication-long-text-content-form > div {
  padding-right: 830px;
  position: relative;
}

form.party-communication-long-text-content-form div.communication-content-pdf-preview {
  position: absolute;
  right: 0;
}

div.field-name-communication-body {
  padding: 0;
}

div.field-name-communication-body label {
  display: none;
}

div.field-name-communication-body div.form-type-select {
  display: none;
}
